/* _____________ POLICE _____________ */

.navbar-dark .navbar-nav .nav-link, .navbar-dark .navbar-brand, footer a, footer p,
h1, #introduction p, h2, h3, #skills p, #education p, #contact p, span, h4, .framePost p, 
.post, #commentsFrame p, #commentForm p, #commentForm label, #commentForm button, .formBlock label,
 .formBlock small, .formBlock button, .form-group label, .formBlock a, #infoMdp, #error, #success, p,
 .cPageFrame, .pageBlock {
	font-family: 'Roboto';
}

html {
	scroll-behavior: smooth;
}

/* ________________ MENU ______________ */

#navbar {
	position: fixed; 
	z-index: 3;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.4) !important;
}

.navbar-dark .navbar-nav .nav-link, .navbar-dark .navbar-brand {
	color: white;
	font-size: 1.4em;
	font-weight: bold;
}

.navbar-dark .navbar-nav .nav-link:hover {
	color: white;
}

.navbar-nav {
	margin-right: 80px;
}

.navbar-brand {
	margin-left: 40px;
}

.nav-item {
	margin-right: 40px;
}

.nav-item .active .nav-link {
	font-size: 2em;
}


/* ____________________ HEAD ____________________ */

#head img {
	height: 950px;
	width: 100%;
	opacity: 0.7;
}

#container-image {
	position: relative;
	background-color: grey;
}

@keyframes scrollAnimation {
	0% {
    transform: translateY(0px);
    }
    100% {
    transform: translateY(40px);
    }
}

#scroll span {
	position: absolute;
	top: 80%;
	left: 920px;
	width: 80px;
	height: 80px;
	border-radius: 50%;
	/*border: 1px solid white;*/
	animation: scrollAnimation 1s infinite;
}

#head-intro, #head-titre {
	position: absolute;
	color: white;
	font-weight: bold;
	text-align: center;
	text-shadow: grey 1px 0 10px;
}

#head-intro {
	top: 600px;
	left: 650px;
	font-size: 2em;
	
}

#head-titre {
	top: 250px;
	left: 700px;
}

#head-titre p {
	font-size: 2em;
	font-style: italic;
}


#scroll{
	text-decoration: none;
	color: black;
}

span .fa-angle-double-down{
	position: absolute;
	bottom: 17px;
	right: 27px;
	
}

/* __________________ CAROUSEL _________________ */

.carousel-item {
	background-color: grey;
}

.carousel-item img {
	height: 850px;
	opacity: 0.5;
}

/* _______________ INTRODUCTION ________________ */

.logo img {
	height: 150px;
	width: 150px;
	text-align: center;
}

#introduction .row {
	margin: 30px;
}

.photo-profil img {
	height: 200px;
	width: 200px;
	text-align: center;
	border-radius: 50%;
}

#introduction, #services, #portfolio, #contact {
	margin-top:60px;
}

#introduction h1, #introduction p {
	text-align: center;
}

#introduction h1 {
	font-size: 2.7em;
}

#introduction p {
	font-size: 1.2em;
	padding: 35px;
}

#introduction p strong {
	color: #d48d6e;
	font-weight: bold;
}

#pannel1 {
	position: relative;
	left: -800px;
}

#pannel2 {
	position: relative;
	right: -800px;
}

.logo, .photo-profil {
	position: absolute;
}



/* ___________________ CV __________________ */

#introduction, #services, #portfolio, #contact, #privacyFrame, #contactFrame h3 {
	text-align: center;
	padding: 65px 0 65px 0;
}

#skills, #contact {
	background-color: #dfe6e9;
}

h2 {
	color: #d48d6e;
	font-size: 1.9em;
}

.fa-graduation-cap, .fa-code, .fa-comments .fa-2x, .fa-github{
	margin-bottom: 40px;
}

h2:before, h2:after {
	content:'';
	width: 60px;
	height: 0;
	border-bottom: 1px grey solid;
	display: inline-block;
	vertical-align: middle;
}

h3 {
	font-size: 1.7em;
	font-weight: bold;
}

h4 {
	font-weight: bold;
	font-size: 1.5em;

}

#skills p, #education p, #contact p {
	font-size: 1.2em;
	font-style: italic;
}

.row {
	margin: 0 0 20px 0;
}

#contact span {
	font-size: 1.4em;
}

#contact a {
	text-decoration: none;
	color: #45aaf2;
}

#profilAPI {
	padding: 20px;
}

#eventsAPI {
	border: 2px #dfe6e9 solid;
	border-radius: 15px;
	padding: 20px;
	background-color: #dfe6e9;
}

/* ________________ PORTFOLIO _________________ */

.framePost, #commentsFrame {
 	margin: 60px 0 60px 0;
}

.framePost img {
	margin: 20px 0 20px 0;
	border-radius: 15px;
	max-width: 100%;
}

.head-full-post, #commentsFrame, #commentForm {
	text-align: center;
}

.head-full-post h3 {
	font-size: 2.5em;
	font-weight: bold;
	color: #45aaf2;
}

.projets h3 {
	color:white;
	font-weight: bold;
	font-size: 2.5em;
}

figure img {
	border-radius: 15px;
	width: 100%;
}

figure
{
	position: relative;
	overflow: hidden;
}

figcaption
{
	height: 100%;
	width: 100%;
	visibility: hidden;
	position: absolute;
	bottom: 0;
	text-align: center;
	transition: background-color 1.5s;
}

figure:hover figcaption
{
	visibility: visible;
	background-color: rgba(0, 0, 0, 0.5);
}

figure:hover img {
	transform: scale(1.2);
}

.btn-primary:not(:disabled):not(.disabled).active,
.btn-primary:not(:disabled):not(.disabled):active,
.show>.btn-primary.dropdown-toggle, .btn-primary {
	background-color: #45aaf2;
	border: 1px #45aaf2 solid;
}

.btn {
	margin: 20px 5px 20px 5px;
}

.post, #commentsFrame p, #commentForm label, #commentForm p {
	text-align: center;
	font-size: 1.2em;
	margin-top: 20px;
}

#commentForm textarea {
	resize: vertical;
	min-height: 200px;
}

.commentBlock {
	border: 1px solid grey;
	padding: 10px;
	margin: 10px;
	box-shadow: 5px 5px 5px grey;
}

#info {
	font-size: 1.2em;
	text-align: center;
	font-weight: bold;
}

.cPageFrame {
	background-color: transparent;
	color: black;
	border: 1px solid #45aaf2;
}

.cPageFrame, .pageBlock {
	padding: 10px;
	margin: 5px;
	text-decoration: none;
	text-align: center;
	border-radius: 5px;
}

.pageBlock {
	background-color: #45aaf2;
	color: white;
}

.pageBlock:hover {
	text-decoration: none;
	color: black;
}

#pageFrame {
	padding: 20px;
	text-align: center;
}

/* _______________ LOGIN/SIGN ________________*/

#loginFrame, #subscribeFrame {
	margin: 50px;
}

.formBlock a {
	text-decoration: none;
	color: black;
	font-size: 1.2em;
}

.formBlock a:hover {
	color: #45aaf2;
}

#infoMdp, #error {
	color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;  
}

#infoMdp, #error, #success {
	 font-weight: bold;
    font-size: 1.1em;
    text-align: center;
    margin: 10px;
}

#success {
	color: #155724; 
	background-color: #d4edda;
    border-color: #c3e6cb;
}

/* ___________________ DASHBOARD ___________________ */

#dashboardLogin img {
	border-radius: 50%;
	max-width: 100%;
}

#dashboardLogin {
	margin: 50px 0 50px 0;
}

#dashboardLogin h1 {
	margin: 20px 0 20px 0;
}

#postManage, #commentManage, #memberManage {
	padding: 20px;
	color: #222f3e;
	font-size: 1.1em;
}

#postManage h3, #commentManage h3, #memberManage h3 {
	font-size: 1.8em;
	font-weight: bold;
	color: #45aaf2;
}

.listPanel {
	margin: 10px 0 10px 0;
	border: 1px solid grey;
	padding: 10px;
	box-shadow: 5px 5px 5px grey;
}

.listPanel:hover {
	background-color: #dfe6e9;
}

.listPanel a {
	text-decoration: none;
}

.fa-trash-alt, .fa-edit {
	font-size: 1.4em;
	margin:0 5px;
}

.fa-trash-alt {
	color: red;
}

.fa-edit {
	color: #2ecc71;
}

.removeComment, .removePost, .removeMember {
	border: none;
	background-color: transparent;
	cursor: pointer;
}

.linkProject, .removeComment {
	float: right;
}

.imgBdd {
	width: 350px;
	text-align: center;
}


/* __________________ FOOTER ________________ */

footer {
	background-color:#d48d6e;
	padding: 20px;
	margin-top: 20px;
	text-align: center;
}

footer a, footer p {
	color: white;
	text-decoration: none;
	font-size: 1.2em;
}

footer a:hover {
	color: white;
	text-decoration: none;
}

.fa-heart {
	color: red;
}

#privacyFrame {
	padding: 100px;
}

/* __________________________ RESPONSIVE _________________________ */


/* ___________________MOBILE___________________ */

@media all and (max-width: 768px) {
	/* ________________ MENU ______________ */

	.navbar-brand {
		margin-left: 0;
	}

	/* _______________ INTRODUCTION ________________ */

	#introduction h1 {
		font-size: 2em;
	}

	#introduction p {
		font-size: 1.1em;
	}

	/* ___________________ CV __________________ */

	h2 {
		font-size: 1.4em;
	}

	.fa-graduation-cap, .fa-code, .fa-comments .fa-2x, .fa-github{
		margin-bottom: 25px;
	}

	h2:before, h2:after {
		width: 20px;
	}

	h3 {
		font-size: 1.2em;
	}

	h4 {
		font-size: 1.2em;
	}

	#skills p, #education p, #contact p {
		font-size: 1.2em;
		font-style: italic;
	}

	#contact span {
		font-size: 1.2em;
	}

	/* ________________ PORTFOLIO _________________ */

	.framePost, #commentsFrame {
	 	margin: 25px 0 25px 0;
	}

	.framePost img {
		margin: 10px 0 10px 0;
	}

	.head-full-post h3 {
		font-size: 2em;
	}

	.projets h3 {
		font-size: 1.5em;
	}

	.btn {
		margin: 10px 5px 10px 5px;
	}

	#commentForm textarea {
		min-height: 100px;
	}

	#pageFrame {
		padding: 10px;
	}

	/* _______________ LOGIN/SIGN ________________*/

	#loginFrame, #subscribeFrame {
		margin: 20px;
	}

	.formBlock a {
		font-size: 1em;
	}

	/* ___________________ DASHBOARD ___________________ */

	#dashboardLogin {
		margin: 50px 20px 0;
	}

	#dashboardLogin h1 {
		font-size: 1.6em;
	}

	#postManage h3, #commentManage h3, #memberManage h3 {
		font-size: 1.4em;
	}

	.fa-trash-alt, .fa-edit {
		font-size: 1.2em;
	}

	.imgBdd {
		max-width: 100%;
	}

	/* __________________ FOOTER ________________ */

	footer {
		padding: 10px;
	}

	footer a, footer p {
		font-size: 1.1em;
	}

	#privacyFrame {
		padding: 0;
	}

}

/* _________________TABLETTE_________________ */

@media all and (min-width: 768px) and (max-width: 1024px) {
	/* ___________________ CV __________________ */

	h2:before, h2:after {
		width: 40px;
	}

	/* ________________ PORTFOLIO _________________ */

	.framePost, #commentsFrame {
	 	margin: 30px 0 30px 0;
	}

	.projets h3 {
		font-size: 1.7em;
	}

	#commentForm textarea {
		min-height: 150px;
	}
	
	.head-full-post img {
		max-width: 70%;
	}

	/* ___________________ DASHBOARD ___________________ */

	#dashboardLogin h1 {
		font-size: 2em;
	}

	#postManage h3, #commentManage h3, #memberManage h3 {
		font-size: 1.6em;
	}

	.imgBdd {
		max-width: 100%;
	}

	/* __________________ FOOTER ________________ */

	footer {
		padding: 10px;
	}

	#privacyFrame {
		padding: 20px;
	}
}

/* _______________ LAPTOP ________________ */

@media all and (min-width: 1024px) and (max-width: 1250px){
	/* ________________ MENU ______________ */

	.navbar-nav {
		margin-right: 0;
	}

	.navbar-brand {
		margin-left: 20px;
	}

	.nav-item {
		margin-right: 20px;
	}

	/* ________________ PORTFOLIO _________________ */

	.projets h3 {
		font-size: 1.8em;
	}
	
	.head-full-post img {
		max-width: 100%;
	}

	#commentForm textarea {
		min-height: 200px;
	}

	/* ___________________ DASHBOARD ___________________ */

	.imgBdd {
		max-width: 100%;
	}

	/* __________________ FOOTER ________________ */

	#privacyFrame {
		padding: 50px;
	}
}
