/* _____________ POLICE _____________ */

.navbar-light .navbar-nav .nav-link, .navbar-light .navbar-brand, footer a, footer p,
 #introduction h1, #introduction p, h2, h3, #skills p, #education p, #contact p,
 span, h4, .framePost p, .post, #commentsFrame p, #commentForm p, #commentForm label,
 #commentForm button, .formBlock label, .formBlock small, .formBlock button, .formBlock a,
 #infoMdp, #error, #success {
	font-family: 'Roboto';
}


/* ________________ MENU ______________ */

.navbar-light .navbar-nav .nav-link, .navbar-light .navbar-brand {
	color: white;
	font-size: 1.4em;
	font-weight: bold;
}

.navbar-nav {
	margin-right: 80px;
}

.navbar-brand {
	margin-left: 40px;
}

.nav-item {
	margin-right: 40px;
}

/* _______________ INTRODUCTION ________________ */

#introduction img {
	/*height: 300px;
	width: 300px;*/
	border-radius: 50%;
	text-align: center;
}

#introduction, #skills, #education, #contact, #github {
	margin-top: 40px;
}

#introduction h1, #introduction p {
	text-align: center;
}

#introduction h1 {
	font-size: 2.5em;
}

#introduction p {
	font-size: 1.2em;
}

/* ___________________ CV __________________ */

#skills, #education, #contact, #github {
	text-align: center;
	padding: 25px 0 25px 0;
}

#skills, #contact {
	background-color: #dfe6e9;
}

h2 {
	color: #45aaf2;
	font-size: 1.9em;
}

.fa-graduation-cap, .fa-code, .fa-comments .fa-2x, .fa-github{
	margin-bottom: 40px;
}

h2:before, h2:after {
	content:'';
	width: 60px;
	height: 0;
	border-bottom: 1px black solid;
	display: inline-block;
	vertical-align: middle;
}

h3 {
	font-size: 1.7em;
}

h4 {
	font-weight: bold;
	font-size: 1.5em;

}

#skills p, #education p, #contact p {
	font-size: 1.2em;
	font-style: italic;
}

.row {
	margin: 0 0 20px 0;
}

#contact span {
	font-size: 1.4em;
}

#contact a {
	text-decoration: none;
	color: #45aaf2;
}

#profilAPI {
	padding: 20px;
}

#eventsAPI {
	border: 2px #dfe6e9 solid;
	border-radius: 15px;
	padding: 20px;
	background-color: #dfe6e9;
}

/* ________________ PORTFOLIO _________________ */

.framePost, #commentsFrame {
 	margin: 60px 0 60px 0;
}

.framePost img {
	margin: 20px 0 20px 0;
	border-radius: 15px;
	max-width: 100%;
}

.head-full-post, #commentsFrame, #commentForm {
	text-align: center;
}

.head-full-post h3 {
	font-size: 2.5em;
	font-weight: bold;
	color: #45aaf2;
}

.projets h3 {
	color:white;
	font-weight: bold;
	font-size: 2.5em;
}

figure img {
	border-radius: 15px;
	width: 100%;
}

figure
{
	position: relative;
	overflow: hidden;
}

figcaption
{
	height: 100%;
	width: 100%;
	visibility: hidden;
	position: absolute;
	bottom: 0;
	text-align: center;
	transition: background-color 1.5s;
}

figure:hover figcaption
{
	visibility: visible;
	background-color: rgba(0, 0, 0, 0.5);
}

figure:hover img {
	transform: scale(1.2);
}

.btn-primary:not(:disabled):not(.disabled).active,
.btn-primary:not(:disabled):not(.disabled):active,
.show>.btn-primary.dropdown-toggle, .btn-primary {
	background-color: #45aaf2;
	border: 1px #45aaf2 solid;
}

.btn {
	margin: 20px 5px 20px 5px;
}

.post, #commentsFrame p, #commentForm label, #commentForm p {
	text-align: center;
	font-size: 1.2em;
	margin-top: 20px;
}

#commentForm textarea {
	resize: vertical;
	min-height: 200px;
}

.commentBlock {
	border: 1px solid grey;
	padding: 10px;
	margin: 10px;
	box-shadow: 5px 5px 5px grey;
}

/* _______________ LOGIN/SIGN ________________*/

#loginFrame, #subscribeFrame {
	margin: 50px;
}

.formBlock a {
	text-decoration: none;
	color: black;
	font-size: 1.2em;
}

.formBlock a:hover {
	color: #45aaf2;
}

#infoMdp, #error {
	color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;  
}

#infoMdp, #error, #success {
	 font-weight: bold;
    font-size: 1.1em;
    text-align: center;
    margin: 10px;
}

#success {
	color: #155724; 
	background-color: #d4edda;
    border-color: #c3e6cb;
}


/* __________________ FOOTER ________________ */

footer {
	background-color: #45aaf2;
	padding: 20px;
	margin-top: 20px;
	text-align: center;
}

footer a, footer p {
	color: white;
	text-decoration: none;
	font-size: 1.2em;
}

footer a:hover {
	color: #153348;
	text-decoration: none;
}

.fa-heart {
	color: red;
}