{% extends "frontend/layout.html.twig" %}

{% block frontend_body %}

	<section id="contactFrame">
		<div class="row" style="justify-content: center">
			<div class="col-lg-4">
				<h3> Formulaire de contact </h3>
				{% if get.sendContact and get.sendContact == 'success' %}
					<p id="success">Votre message a bien été envoyé !</p>
				{% elseif get.sendContact and get.sendContact == 'error' %}
					<p id="error">Tous les champs ne sont pas remplies !</p>
				{% endif %}
				<div class="formBlock">
					<form action="index.php?action=sendContact" method="post">
						<div class="form-group">
							<label for="nom">Votre nom</label><br/>
							<input type="text" class="form-control form-control-lg" name="nom" id="nom" required /></br>
						</div>
						<div class="form-group">
							<label for="mail">Votre Adresse email</label><br />
							<input type="email" class="form-control form-control-lg" name="mail" id="mail" aria-describedby="emailHelp" required /><br />
							<small id="emailHelp" class="form-text text-muted">Votre adresse email ne sera pas utilisée en dehors de ce site.</small>
						</div>
						<div class="form-group">
							<label for="message">Votre message :</label><br />
							<textarea class="form-control" id="message" name="message" rows="3" ></textarea> </br>
						</div>
						<button type="submit" class="btn btn-primary btn-lg" name="mailform">Envoyer</button>
					</form>
				</div>
			</div>
		</div>
	</section>

{% endblock %}