{% extends "layout.html.twig" %}

{% block frontend_body %}

	<section id="skills">
		<h2>COMPÉTENCES</h2>
		<div>
			<h3>Langages</h3>
			<p>HTML</p>
			<p>CSS (Bootstrap)</p>
			<p>Javascript</p>
			<p>PHP (notions sur Symfony 3) et MySQL</p>
		</div>
		<div>
			<h3>Outils</h3>
			<p>CMS (Wordpress)</p>
			<p>Git et Github</p>
			<p>Sublim Text 3</p>
		</div>
		<div>
			<h3>Savoir-être</h3>
			<p>Sens de l'organisation</p>
			<p>Capacité d'adaptation</p>
			<p>Curiosité</p>
			<p>Autonomie</p>
		</div>
	</section>

	<section id="education">
		<h2>FORMATIONS</h2>
		<div>
			<h3>Développeur intégrateur en réalisation d'applications web - 2018</h3>
			<p>OpenClassrooms</p>
		</div>
		<div>
			<h3>Master 1 Droit public général - 2014</h3>
			<p>Université Montpellier I</p>
		</div>
		<div>
			<h3>Baccalauréat STG Communication et gestion des Ressources humaines - 2009</h3>
			<p>Lycée privé Nevers, Montpellier</p>
		</div>
	</section>

	<section id="experience">
		<h2>EXPÉRIENCES</h2>
	</section>

{% endblock %}