{% extends "layout.html.twig" %}

{% block body %}

	<section id="introduction">
		<div class="row">
			<div class="col-lg-12" style="text-align: center;">
				<img src="public/img/profil.jpeg" alt="photo de profil" />
			</div>
		</div>
		<div class="row">
			<div class="col-lg-12">
				<h1>Charlotte Perution</h1>
				<p><em>Développeuse web junior</em></p>
				<p>Curieuse et passionnée par les nouvelles technologies, je me suis reconvertie dans le domaine du développement web. </br> L'apprentissage régulier dans ce domaine attise particulièrement ma curiosité à apprendre toujours de nouvelles choses. </br> J'aime relever des challenges qui sont une source de motivation pour moi. </br> Je recherche aujourd'hui un poste de <strong>développeuse web.</strong></p>
			</div>
		</div>
	</section>

	{% block frontend_body %}
	{% endblock %}

{% endblock %}