{% extends "../layout.html.twig" %}

{% block body %}

	<section>
		<img src="" alt="" />
		<h1>Charlotte Perution</h1>
		<p>Développeuse web</p>
		<p>descriptin</p>
	</section>

	{% block frontend_body %}
	{% endblock %}

{% endblock %}