{% extends "layout.html.twig" %}

{% block body %}

	<section id="head">
		<div id="container-image">
			<img alt="photo présentation" src="public/img/image2"/>
			<div id="head-titre">
				<h1>Charlotte Perution</h1>
				<p>Développeuse Web Freelance</p>
			</div>
			<div id="head-intro">
				<p>Une idée ? <br> Un projet de création de site web ? <br> Je vous propose mes services !</p>
			</div>
			<a id="scroll" href="{{ globals.root }}index.php#introduction">
				<span>
					<i class="fas fa-angle-double-down fa-2x"></i>
				</span>
			</a>
		</div>
	</section>

	<section id="introduction">
		<h2> A PROPOS </h2>
		<br>
		<div class="row">
				<div class="col-lg-6 photo-profil" id="pannel1" style="text-align: center;">

					<br>
					<img alt="photo de profil" src="public/img/profil.jpeg"/>
					<br>
					<br>
					<p>Je suis
						<strong>développeuse et intégratrice spécialisée Symfony et Wordpress</strong>
						sur Montpellier.
						<br>
						Curieuse et passionnée par les nouvelles technologies et le web, je me suis reconvertie dans le domaine du développement web après des études juridiques.
						J'ai obtenu un diplôme de Développeur intégrateur en réalisation d'applications web et ne cesse de continuer à me former sur de nouvelles technologies et de me perfectionner
						sur celles que j'ai acquise.
						<br>
						Je suis disponible pour mener à bien la création et l'aboutissement de vos projets.
					</p>
				</div>

				<div class="col-lg-6 logo" id="pannel2">

					<h3>MES COMPÉTENCES</h3>
					<br>
					<div class="row">
						<div class="col-lg-3">
							<img alt="logo HTML5" src="/public/img/Html.svg">
						</div>
						<div class="col-lg-3">
							<img alt="logo CSS3" src="/public/img/CSS3.svg">
						</div>
						<div class="col-lg-3">
							<img alt="logo Boostrap" src="/public/img/bootstrap-logo.jpg">
						</div>
						<div class="col-lg-3">
							<img alt="logo SASS" src="/public/img/sass.svg">
						</div>
					</div>
					<div class="row">
						<div class="col-lg-3">
							<img alt="logo Javascript" src="/public/img/javascript.png">
						</div>
						<div class="col-lg-3">
							<img alt="logo Wordpress" src="/public/img/Wordpress.svg">
						</div>
						<div class="col-lg-3">
							<img alt="logo PHP" src="/public/img/php.png">
						</div>
						<div class="col-lg-3">
							<img alt="logo MySQL" src="/public/img/mysql.svg">
						</div>
					</div>
					<div class="row">
						<div class="col-lg-3">
							<img alt="logo Symfony" src="/public/img/symfony.svg">
						</div>
						<div class="col-lg-3">
							<img alt="logo Git" src="/public/img/Git_icon.svg">
						</div>
					</div>
			</div>	
		</div>
	</section>


	{% block frontend_body %}
	{% endblock %}

{% endblock %}