{% extends "layout.html.twig" %}

{% block body %}

	<section id="introduction">
			<div class="row">
				<div class="col-lg-12" style="text-align: center;">
					<img src="public/img/profil.jpeg" alt="photo de profil" height="200px" width="200px" />
				</div>
			</div>
				<div class="col-lg-12">
					<h1>Charlotte Perution</h1>
					<p><em>Développeuse web junior</em></p>
					<p>Curieuse et passionnée par les nouvelles technologies, j'ai tout naturellement effectué une reconversion dans le domaine du développement web. L'apprentissage régulier dans ce domaine attise particulièrement ma curiosité à apprendre toujours de nouvelles choses. Je recherche aujourd'hui un poste de <strong>développeuse web junior.</strong></p>
				</div>
			</div>
	</section>
	{% block frontend_body %}
	{% endblock %}

{% endblock %}